# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. ggplot2
5. dplyr
6. DataFrames.jl

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [30]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Cheikh Touradou AÃ¯dara